    body {
      margin: 0;
      background-color: white;
    }

    nav {
      background-color: black;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      height: 60px;
    }

    .logo {
      margin-left: 20px;
      height: 60px;
      background-color: black;
      border-radius: 10px;
      flex-grow: 1;
    }

    .logo img {
      height: 100%;
      width: auto;
      border-radius: 10px;
    }

    nav a {
      color: white;
      text-decoration: none;
      font-size: 20px;
      display: block;
      padding: 10px;
      transition: background-color 0.5s ease;
    }

    nav a:hover {
      background-color: #555;
    }

    main {
      max-width: 960px;
      margin: 0 auto;
      padding: 20px;
    }

    /* Estilo do formulário */
    form {
      display: flex;
      flex-direction: column;
      max-width: 600px;
      margin: 0 auto;
    }

    label {
      font-weight: bold;
      margin-bottom: 5px;
    }

    @media screen and (max-width: 600px) {
      nav {
        flex-direction: column;
        height: auto;
      }

      .logo {
        margin-bottom: 10px;
      }

      nav a {
        padding: 5px;
        font-size: 16px;
      }
    }

    input[type="text"],
    input[type="email"],
    textarea {
      padding: 10px;
      margin-bottom: 20px;
      border-radius: 5px;
      border: none;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    input[type="submit"] {
      background-color: black;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background-color: #555;
    }

    .error {
      color: red;
      margin-bottom: 10px;
    }